[submodule "static/.images"]
	path = static/.images
	url = https://github.com/xhsgg12302/archive-assets.git
[submodule "content"]
	path = content
	url = https://github.com/xhsgg12302/archive-docs.git
