@import "tachyons.scss";

.hr-division-line:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 2em;
    padding: 0 0.25em;
    color: #333;
    background: #faf8f8;
}

/* 设置锚点的顶部偏移量 */
:target::before {
    content: "";
    display: block;
    height: 70px; /* 根据需要调整高度 */
    margin-top: -70px; /* 与高度相同，以抵消偏移 */
}

.key-combination {
    display: inline-flex;
    padding-right: 2px;
}

.key {
    display: inline-block;
    height: 26px;
    padding: 2px 8px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #c7bbd0;
    //border: 1px solid #ce7429;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

.key:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.key:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}