

{{- define "header" -}}
<head>
  {{ $data := dict "@context" "https://schema.org"  "@type" "WebSite"  "name" "吉尔吉福" "alternateName"  (slice "吉尔吉福供给工厂" "eli_w") "url" site.BaseURL -}}
  <script type="application/ld+json">{{ $data }}</script>
  {{ partial "docs/html-head" . }}
</head>
{{- end }}
{{ define "main" }}
  <article class="12302-home markdown">
    <span class="artical-title">{{ partial "docs/title.html" . }}</span>
    <div style="text-align: center;">
        {{ partial "docs/tags" .}}
        {{ partial "docs/date" .}}
    </div>
    {{- .Content | safeHTML -}}
    {{ partial "docs/footer" .}}
  </article>
{{ end }}