

{{- define "header" -}}
<head>
  {{ $data := dict "@context" "https://schema.org"  "@type" "WebSite"  "name" "吉尔吉福" "alternateName"  (slice "eli_w" "12302") "url" site.BaseURL -}}
  <script type="application/ld+json">{{ $data }}</script>
  {{ partial "docs/html-head" . }}
</head>
{{- end }}
{{ define "main" }}
  <article class="12302-home markdown">
    <h1 class="title" style="text-align: center;">{{ partial "docs/title.html" . }}</h1>
    <div style="text-align: center;">
        {{ partial "docs/tags" .}}
        {{ with .GitInfo }}
          {{ if .FromGetJson }}
            <p class="tracked">
              <span style="color:red">FGJ:</span>
              <span>Create: {{- .FromGetJson.CreateDate | time.Format "2006/01/02" -}}</span> 
              <span style="padding-left:2em">Update: 
                {{- if .AuthorDate.After  .FromGetJson.AuthorDate }} 
                  ({{ .AuthorDate | time.Format (default "January 2, 2006" "2006-01-02") -}})
                {{ else }}
                  [{{ .FromGetJson.AuthorDate | time.Format (default "January 2, 2006" "2006-01-02") -}}]
                {{ end }}
              </span>
            </p>
          {{ else }}
            <p class="tracked">
              <span>Create: {{- .CreateDate | time.Format "2006/01/02" -}}</span> 
              <span style="color:red">{{ .AbbreviatedHash }}</span>
              <span style="padding-left:2em">Update: {{- .AuthorDate | time.Format (default "January 2, 2006" "2006-01-02") -}}</span>
            </p>
          {{ end }}
        {{ end }}
    </div>
    {{- .Content | safeHTML -}}
    {{ partial "docs/footer" .}}
  </article>
{{ end }}